.favourite-btn {
    border: 0;
    background: none;
    position: absolute;
    right: 0px;
    margin: 10px;
}

/* 404 Not Found */

.not-found {
    font-size: 18vw;
    text-align: center;
}
.not-found img {
    width: 18vw;
    height: 18vw;
    margin: 0 2.5vw;
}

/* Pokemon List */

.pokemon-list .card {
    min-width: 18rem;
    width: 18rem!important;
    align-items: center!important;
}
.pokemon-list img.pokemon-icon {
    width: 215px;
    height: 215px;
    margin-top: 10px;
}
.pokemon-list .stat-param img {
    vertical-align: sub;
}

/* Profile Details */

.profile-details input {
    padding: .375rem .75rem;
}

/* Header */

.nav-display-name a {
    text-decoration: none;
}
.nav-display-name i {
    margin-right: 5px;
}